{% extends "base.html" %}

{% block title %}Schedule{% endblock %}

{% block content %}
<h1>Sacandaga Schedule</h1>
<div id="calendar" class="mt-3"></div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        if (typeof FullCalendar === "undefined") {
            console.error("FullCalendar failed to load.");
            return;
        }

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: ''
            },
            events: "{% url 'get_events' %}", // Fetch events from Django
        });
        calendar.render();
    });
</script>
{% endblock %}
